.landing {
    position: relative;
}

.modal #gamelogo {
    width: 20%;
    height: 100%;
    margin-top: 15px;
}

.modal .logo-way2web {
    margin-top: 15px;
    margin-bottom: 15px;
}

.main {
    height: 600px;
    position: relative;
    background-image: url('../assets/office_bg.jpg');
    background-size: auto;
    background-position: center center;

    &:before {
        content: '';
        z-index: 100;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $w2w-blue;
        opacity: .9;
    }

    &:after {
        content: '';
        z-index: 200;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        background-image: url('../assets/corner.svg');
        background-size: cover;
    }
}

.modal {
    position: absolute;
    z-index: 999;
    top: 50px;
    left: 10%;
    width: 80%;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 35px 0 rgba(0,0,0,.505);
    text-align: center;
}

.modal p {
    font-size: 1.2em;
    line-height: 1.5
}

.modal a {
    color: $w2w-blue;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

h1.modal_header {
    padding: 10px 30px;
    border-radius: 5px 5px 0 0;
    font-size: 42px;
    margin-top: 20px;
}

.modal_body {
    padding: 0px 30px;
    border-radius: 0 0 5px 5px;
}

.modal_footer {
    padding: 10px 30px;
}
