.cls-1 {
    fill: #1d1d1b;
}
.cls-2 {
    fill: #ffdd73;
}
.cls-3,
.cls-4 {
    fill: none;
    stroke: #50555c;
    stroke-miterlimit: 10;
}
.cls-3 {
    stroke-width: 13px;
}
.cls-4 {
    stroke-width: 7px;
}
.cls-5 {
    fill: #0f95d4;
}
.cls-6 {
    fill: #50545b;
}
